* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background-repeat: no-repeat;
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  min-height: 100%;
}

//----- CLASSES ADDED TO THE HTML BY JS:

.dark {
  background-image: linear-gradient(to left bottom, #302f5b, #a01b69); // fallback
  animation-name: gradientDark;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.light {
  background-image: linear-gradient(to left bottom, #f1b218, #f827a2); // fallback
  animation-name: gradientLight;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}